* {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 8px rgba(94, 94, 94, 0.6);
   
}

body {
    /* border: 1px solid black; */
    background-color: antiquewhite;
    font-family: 'Sriracha', cursive;
    color: rgb(255, 115, 115);
    background-image: url('giphy.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}






  
  
  
  

.hbd h1 {
    font-family: 'Potta One', cursive;
    text-align: center;
    margin-top: 20px;
    font-size: 70px;
    color: rgb(69, 182, 69);
    font-weight: bold;
}

.hpy {
    color: purple;
}

.bd {
    color: skyblue;
}

.anika {
    color: red;
}

.balon {
    /* border: 1px solid black; */
    display: inline-flex;
    margin-left: 120px;
}

.para1 {
    /* border: 1px solid black; */
    display: inline-flex;
    content: none;
    float: right;
    margin-top: 150px;
}

.image1 {
    margin-right: 50px;
    margin-left: 100px;
    margin-top: 30px;
    float: right;
}

.love1 {
    /* border: 1px solid black; */
    float: right;
    margin-top: -45px;
    margin-right: 50px;
}

.image2 {
    /* border: 1px solid black; */
    margin-left: 50px;
    float: left;
}

.para2 {
    /* border: 1px solid black; */
    display: inline-flex;
    float: right;
    margin-top: 110px;
}

.love2 {
    /* border: 1px solid black; */
    float: left;
    margin-left: -400px;
    margin-top: 350px;
}

.para3 {
    /* border: 1px solid black; */
    float: left;
    margin-left: 500px;
    margin-top: 100px;
}

.image3 {
    /* border: 1px solid black; */
    float: right;
    margin-top: -30px;
    margin-right: 50px;
}

.image4 {
    /* border: 1px solid black; */
    float: left;
    margin-left: 50px;
    margin-top: 250px;
}

.para4 {

    float: left;
    margin-top: 350px;
    margin-left: 90px;
}

.love3 {
    /* border: 1px solid black; */
    float: right;
    margin-top: 100px;
}

.love4 {
    /* border: 1px solid black; */
    float: left;
    margin-left: -800px;
    margin-top: 550px;

}

.para5 {
    /* border: 1px solid black; */
    color: rgb(255, 115, 115);
    float: left;
    margin-top: 200px;
    margin-left: 100px;
}

.image5 {
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}

.image6 {
    float: left;
    margin-left: 50px;
    margin-top: 220px;
}

.para6 {
    float: left;
    margin-top: 400px;
    margin-left: 150px;

}

.love5 {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

/* .video{
    position: absolute;
    margin-top: 0px;
    background-size: cover;
    
    opacity: 0.5;
} */

@media screen and (max-width: 479px) {
    .hbd h1 {
        font-family: 'Potta One', cursive;
        text-align: center;
        margin-top: 20px;
        font-size: 70px;
        color: rgb(69, 182, 69);
        font-weight: bold;
        font-size: 25px;
    }

    .bd {
        color: skyblue;
    }
    
    .anika {
        color: red;
    }
    
    .balon {
        /* border: 1px solid black; */
        display: inline-flex;
        margin-left: 0px;
        margin-top: 30px;
    }

    
    .para1 {
        /* border: 1px solid black; */
        display: inline-flex;
        content: none;
        float: right;
        margin-top: 0px;
    }
    
    .image1 {
        margin-top: 30px;
        float: none;
        margin: auto;
        text-align: center;
    }
    
    .love1 {
        /* border: 1px solid black; */
        float: right;
        margin-top: 0px;
        margin-right: 0px;
        text-align: center;
    }
    
    .image2 {
        /* border: 1px solid black; */
        margin-left: 0px;
        float: none;
        text-align: center;
    }
    
    .para2 {
        /* border: 1px solid black; */
        display: inline-flex;
        float: none;
        margin-top: 30px;
        text-align: center;
    }
    
    .love2 {
        /* border: 1px solid black; */
        float: left;
        margin-left: -400px;
        margin-top: 350px;
    }
    
    .para3 {
        /* border: 1px solid black; */
        float: none;
        margin-left: 0px;
        margin-top: 100px;
        text-align: center;
    }
    
    .image3 {
        /* border: 1px solid black; */
        float: none;
        text-align: center;
        margin-top: 70px;
        margin-left: 15px;
    }
    
    .image4 {
        /* border: 1px solid black; */
        float: none;
        margin-left: 0px;
        margin-top: 29px;
        text-align: center;
    }
    
    .para4 {
    
        float: none;
        margin-top: 70px;
        margin-left: 0px;
        text-align: center;
    }
    
    .love3 {
        /* border: 1px solid black; */
        float: none;
        margin-top: 29px;
        text-align: center;
    }
    
    .love4 {
        /* border: 1px solid black; */
        float: left;
        margin-left: -800px;
        margin-top: 550px;
    
    }
    
    .para5 {
        /* border: 1px solid black; */
        color: rgb(255, 115, 115);
        float: none;
        margin-top: 70px;
        margin-left: 0px;
        text-align: center;
    }
    
    .image5 {
        float: none;
        margin-right: 0px;
        margin-top: 20px;
        text-align: center;
    }
    
    .image6 {
        float: none;
        margin-left: 0px;
        margin-top: 20px;
        text-align: center;
    }
    
    .para6 {
        float: left;
        margin-top: 29px;
        margin-left: 0px;
        text-align: center;
    
    }
    
    .love5 {
        float: none;
        margin-right: 0px;
        margin-top: 0px;
        text-align: center;
    }
    
}